<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
                <div class="col-md-6">
					<img class="img-responsive" style="text-align: center;" src="img/programming-background-design_1223-79.jpg"></img>
                </div>
				<div class="col-md-6">
					<div class="intro-message">
						<h3>1<sup>er</sup> Competencia de Programación<br>San Francisco</h3>
						<h1>Códigos<br>Abiertos</h1>
						
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							<li>
								<button onclick="javascript: window.scroll({
                                    top: 2500, 
                                    left: 0, 
                                    behavior: 'smooth' 
                                  });" class="btn btn-default btn-warning btn-lg"><b>¡Inscribí a tu equipo!</b></button>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
