<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
                <div class="col-md-6" style="text-align: center;">
						<img class="img-responsive" style="margin: 0 auto; transform: scale(0.7, 0.7); border-radius: 20px; border: solid 5px white;"   src="img/Logo Corre ProA 2.png"></img>
				</div>
				<div class="col-md-6">
					<div class="intro-message">
							<br>
							<br>
						<h1>CORRE PROA</h1>
						<h4>
							Un año más tenemos "CORREPROA", la ya tradicional maratón de la escuela que este año recibe a toda la comunidad educativa bajo el lema:
						</h4>	
						<h3>CORRE PROA, CORRE LA FAMILIA</h3>
						
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							<li>
								<a class="btn btn-lg btn-default" href="https://docs.google.com/forms/d/e/1FAIpQLSeJ1cG6edvKHeUwCpz7EWYNdQDMVFiac5jHnbcNBtIVo2ltLA/viewform" target="_blank"><b>Inscribirme</b></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
