<section id="services">
<!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">¿Cuándo?¿Dónde?</h2>
                    <div class="lead">
                        <ul>
                            <li>Martes 09 de Septiembre</li>
                            <li>De 13:30 a 17:00 hs</li>
                            <li>En la Escuela Experimental San Francisco (Las Guayanas N° 584)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/pexels-photo.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">¿En qué consiste?</h2>
                    <div class="lead">
                        Cada equipo, formado por 3 estudiantes, deberá resolver un conjunto de problemas empleando un lenguaje de programación. 
                        
                    </div>
                    <a href="reglamento.pdf" target="_blank" class="btn btn-default btn-lg"> <span class="network-name"><b>Ver reglamento</b></span></a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/cinci_motive_pentru_a_urma_cursul_5.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
            
                    <div class="container">
            
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <hr class="section-heading-spacer">
                                <div class="clearfix"></div>
                                <h2 class="section-heading">¿Quiénes pueden participar?</h2>
                                <div class="lead">
                                    Pueden participar estudiantes que se encuentren cursando los últimos 2 años del nivel secundario o los 2 primeros años de nivel superior o universitario.
                                </div>
                            </div>
                            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                <img class="img-responsive" src="img/695933.jpg" alt="">
                            </div>
                        </div>
            
                    </div>
                    <!-- /.container -->
            
                </div>
                <!-- /.content-section-a -->

                <div class="content-section-b">
                        
                                <div class="container">
                                    
                                    <div class="row" style="text-align: center;">
                                            <h2 class="section-heading">¿Cómo participo?</h2>
                                            <div class="lead">
                                                    Si todavía no lo hiciste, crea una cuenta en <a href="www.urionlinejudge.com.br">URI Online Judge</a> para ir practicando y, lo más importante...
                                                </div>
                                                <br><br>
                                            
                                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdHwQKNwC_J-AaVRFlqmagYkW_EA3iS5-_ETVwAsQSjGFiRiQ/viewform" target="_blank" class="btn btn-default btn-info btn-lg"> <span class="network-name"><b>¡Inscribí a tu equipo!</b></span></a>
                                    </div>
                        
                                </div>
                                <!-- /.container -->
                        
                            </div>
</section>
